{% extends 'base.html' %}
{% load static %}
{% block title %} Monetization checker {% endblock %}
{% block main_content %}

<style>
    #url_capture{
        margin-top: 55px;
    }

    #url_btn{
        margin-top: 55px;
    }

    .card-custom {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: row;
        border: 1px solid #ccc;
    }
    .card-image {
        width: 150px; /* Adjust image width */
        height: 100%;
        object-fit: cover; /* Make sure image covers the height */
    }
    .card-body {
        flex-grow: 1;
        padding: 15px;
        display: flex; /* Enable flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        text-align: center; /* Center text alignment */
    }

    .container.card-container {
        max-width: 600px;
        margin: 45px auto;
    }

    .card-title {
        font-size: 1rem;
        margin: 5px 0;
        line-height: 1;
    }

    /* Styles for the loader */
    #loader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      display: none;
      justify-content: center;
      align-items: center;
    }

    .spinner {
      border: 16px solid #f3f3f3;
      border-top: 16px solid #3498db;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    @media (min-width: 768px) {
        .card-custom {
            flex-direction: row; /* Row layout for larger screens */
        }

        .card-image {
            width: 150px; /* Fixed width for larger screens */
            height: auto;
        }

        .card-body {
            padding: 15px 15px 15px 0px;
        }

        .card-title {
            font-size: 1.2rem; /* Slightly larger font for larger screens */
        }
    }

</style>

<script>
    function onSubmit(token) {
        document.getElementById("your-form-id").submit();
    }

    function prepareCaptcha() {
        grecaptcha.ready(function () {
            grecaptcha.execute('6LehMEArAAAAAPxFb1geuR6w1wM1Yk1OCTlzRy8L', { action: 'submit' }).then(function (token) {
                document.getElementById('id_captcha_token').value = token;
                document.getElementById("your-form-id").submit();
            });
        });
    }
</script>

<section class="hero">
    <div class="container">
        <h1> <img src = "{% static 'dollar_img.png' %}" style = "width: 65px; margin-top: -10px;"> YouTube Monetization Checker</h1>
        <p class="lead">Check if a YouTube channel or video is monetized with the monetization checker. Is This Channel or Video Monetized?</p>
        
        <form class="mt-4" method = "GET" id="your-form-id" onsubmit="event.preventDefault(); prepareCaptcha();">
            <div class="row justify-content-center">
                {% if video_url %}
                    <div class="col-md-9">
                        <input id = "url_capture" type="url" class="form-control form-control-lg" name = "url_capture" value = "{{ video_url }}">
                    </div>
                {% else %}
                    <div class="col-md-9">
                        <input id = "url_capture" type="url" class="form-control form-control-lg" name = "url_capture" placeholder="Paste channel URL here" required>
                    </div>
                {% endif %}
                <div class="col-md-3 mt-3 mt-md-0">
                    <button id = 'url_btn' onclick="showLoader()" type="submit" class="btn btn-primary btn-lg w-100">Check Status</button>
                </div>
            </div>
        </form>
    </div>
</section>

{% if monetization_status == True %}

    <div class = "container card-container">
        <div class="card card-custom" style = "line-height: 1.5;">
            <img src="{{avatar_url}}" class="card-image" alt="Card image">
            <div class="card-body">
                <h1 class="card-title"> <b>Channel Name: </b> {{ channel_name }} </h1>
            </div>
        </div>
    </div>

    <div class = "container">
        <div class = "card shadow mb-5">
            <div class = "container">
                <h1 class = "text-center pt-4" style = "color: #0f9d58;"> <img src = "{% static 'dollar_img.png' %}" style = "width: 35px; margin-top: -10px;"> This channel is monetized.</h1>
                
                <ul type = "none" class = "mt-5 mb-4">
                    <li><h5><b> Channel Name: </b> {{ channel_name }} </h5></li>
                    <li><h5><b> Channel Description: </b> {{ description }} </h5></li>
                    <li><h5><b> Country: </b> {{ country }} </li>
                    <li><h5><b> Channel Creation Date: </b> {{ creation_date }} </li>
                    <li><h5><b> Total Subscribers Count: </b> {{ subscribers }} </li>
                    <li><h5><b> Total videos Count: </b> {{ total_videos }} </li>
                    <li><h5><b> Total views Count: </b> {{ total_views }} </li>
                    <!-- <li><h5><b> Estimated earnings: </b> $ {{ estimated_earnings }} </li> -->
                </ul>
    
            </div>
        </div>
    </div>

{% elif monetization_status == False %}

    <div class = "container card-container">
        <div class="card card-custom" style = "line-height: 1.5;">
            <img src="{{avatar_url}}" class="card-image" alt="Card image">
            <div class="card-body">
                <h1 class="card-title"> <b>Channel Name: </b> {{ channel_name }} </h1>
            </div>
        </div>
    </div>

    <div class = "container">
        <div class = "card shadow mb-5">
            <div class = "container">
                <h1 class = "text-center pt-4" style = "color: red;"> <img src = "{% static 'no_dollar.png' %}" style = "width: 35px; margin-top: -10px;"> This channel is not monetized.</h1>
                
                <ul type = "none" class = "mt-5 mb-4">
                    <li><h5><b> Channel Name: </b> {{ channel_name }} </h5></li>
                    <li><h5><b> Channel Description: </b> {{ description }} </h5></li>
                    <li><h5><b> Country: </b> {{ country }} </li>
                    <li><h5><b> Channel Creation Date: </b> {{ creation_date }} </li>
                    <li><h5><b> Total Subscribers Count: </b> {{ subscribers }} </li>
                    <li><h5><b> Total videos Count: </b> {{ total_videos }} </li>
                    <li><h5><b> Total views Count: </b> {{ total_views }} </li>
                </ul>
    
            </div>
        </div>
    </div>
    
{% endif %}

<div class = "container mt-5 mb-5">
    <h6> Reaching your target audience and performing well on YouTube can be difficult, and understanding how the platform works is key. While most advice emphasizes creating original and engaging content, there’s one factor that’s often overlooked but equally important: the timing of your YouTube uploads. </h6><br />
    <h6> Knowing when your audience is most active on the platform can significantly boost your content's reach and improve your “view velocity,” a key ranking factor on YouTube. Thankfully, with tools like the "Best Time to Post on YouTube Calculator," creators now have a valuable resource to help optimize their posting schedules. </h6>
</div>

<div class = "container mb-5">
    <h2 class = "mb-3"><b>Monetization Checker FAQ</b></h2>
    <h4><b>How can I tell if a YouTube channel is monetized or not?</b></h4>
    <p> You can use our monetization checker. Simply insert the YouTube channel’s link, and in less than 1 second you can find out if the given channel is monetized, or not. </p>

    <h4><b>How does this tool work?</b></h4>
    <p> Our YouTube monetization checker works by analyzing the source code of the YouTube channel page. There, YouTube reveals whether a YouTube channel is monetized or not by providing a value, which can be “false” (for non monetized channels), or “true”, (for monetized channels). </p>

    <h4><b>Is it accurate?</b></h4>
    <p> Yes! The returned answer is 100% accurate. </p>

</div>

<div class="container mb-5">
    <div class="row">
        <div class="col-sm-6 d-flex align-items-stretch">
            <div class="card w-100 d-flex flex-column" style="padding: 40px; background-color: red; color: #fff;">
                <h4><b> Why My Channel Is Not Monetized? 😔 </b></h4>
                <p> Before 2018, anyone could create a new channel and start making money off it from the very first video. But since then, mostly because under pressure from advertisers who saw their Ads next to copyrighted or illegal content, YouTube introduced different requirements in order to be monetization eligible. The first one is related to a channel’s metrics. In fact, a channel needs at least 1000 subscribers and 4000 hours of watch time in order to be eligible to join the YouTube Partner Program. But, it doesn’t end here. YouTube manually reviews each channel prior to accept him into the Partner Program, and it may reject the ones that do not follow their content policy. A monetized YouTube channel could also be “demonetized” later on if YouTube believes its content does not follow the platform guidelines. </p>
                <h5><b>Below, the most common reasons why a channel is not monetized: </b></h5>
                <ul style = "margin-left: -15px;">
                    <li>Taking an existing video that is not your own and publishing it to your channel.</li>
                    <li>Image slideshows with minimal or no commentary.</li>
                    <li>Video compilations with no added value.</li>
                    <li>Music promotion channels (re-uploading royalty free music).</li>
                    <li>Short videos compiled from other social media websites.</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 d-flex align-items-stretch">
            <div class="card w-100 d-flex flex-column" style="padding: 40px; background-color: #34c173; color: #fff;">
                <h4><b> How To Get Monetized? 🙂 </b></h4>
                <p> To get monetized, you need 4000 hours in the last 12 months, 1000 subscribers and, of course, original or transformative content. Examples of “monetizable” content, include: </p>
                <ul>
                    <li>Vlogs</li>
                    <li>Reaction videos</li>
                    <li>Gameplays with commentaries</li>
                    <li>Compilations with added value (i.e. editing) and commentary</li>
                </ul>
                <p>If you are struggling to reach the monetization three sold, you can consider purchasing 1000 subscribers and 4000 watch hours. You may also get a monetized channel, meaning a channel with content that is already approved into the Partner Program. It is important to note that, even if you have a monetized channel, you should always adhere by YouTube monetization policies. YouTube automated algorithms are scanning channels periodically to make sure that Creators are uploading original content. If a channel is found to break the rules, YouTube will revoke its monetization status.</p>
            </div>
        </div>
    </div>
</div>

<div id="loader">
    <div class="spinner"></div>
    <p style = "margin-left: 25px;">Please Wait, Your request is in progress.......</p>
</div>

<script>
    function showLoader(event) {
        let urlInput = document.getElementById('url_capture').value.trim();
        
        if (urlInput === "") {
            event.preventDefault(); // Prevent form submission
            alert("Please enter a valid YouTube channel URL.");
            return false;
        }

        document.getElementById('loader').style.display = 'flex';
    }
</script>
{% endblock %}